#main-banner{              
    background-image: url('/public/img/burger.jpg');
    background-position: 0 -250px;
    background-repeat: no-repeat;
    background-size: cover; 
    height:700px;
   }
   
   /* Tablet (a partir de 768px de largura) */
   @media (max-width: 1024px) {
     #main-banner {
       height: 450px; /* 700px - 150px */
     }
   
   }
   
   /* Celular (a partir de 768px de largura) */
   @media (max-width: 768px) {
     #main-banner {
       height: 300px; /* 550px - 150px */
     }
   }
   
   /* Dispositivos menores (opcional) */
   @media (max-width: 576px) {
     #main-banner {
       height: 300px; /* 400px - 150px */
     }
     h1{
       font-size:3.5rem !important;
     }
   }
   
   #main-banner h1{
       color:#fafafa;
       font-size:4em;
       background-color:#222;
   }