.mb-3 {
    text-align: start;
}

label {
    font-weight: bold;
    color: #222;
    padding: 5px 10px;
    border-left: 4px solid #fcba03;
}

.mb-3 button {
    background-color: #fcba03;
    border: none;
    color: white;
}

.mb-3 button:hover {
    background-color: #e9ab02;
    color: white;
}

.form-check-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem linha conforme necessário */
    gap: 1rem; /* Adiciona espaçamento entre os itens */
}

.form-check {
    display: flex;
    align-items: center !important;
    box-sizing: border-box;
    margin-right: 20px;
    width:140px;
}

.mb-3 .form-select{
    background-color: #F7F7F7!important;
    border:none;
}

.mb-3 .form-select option{
    font-size: 1rem;
    text-align: start;
    padding:10px;
}

.mb-3 .form-control{
    background-color: #F7F7F7!important;
    border:none;
}

.form-check label {
    border: none;
    font-size:1rem;
    font-weight: 500;
    line-height: 2px;
    color: #444444;
}

.form-check-label {
    margin-left: 5px;
}

